{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cтраница добавления детали</title>
</head>
<body>

{% include 'core/overpage_user.html' %}




<div style="margin-top:3%; margin-left:5%; margin-right:5%; width:40%">
<form action="{% url 'add_page_2' %}" method="post">
  <fieldset>
    <legend>Cтраница добавления детали</legend>

<!--    ФОРМА ДОБАВЛЕНИЯ ДЕТАЛИ-->
    {% csrf_token %}
    {% for f in form %}
    <p><label</p>
    {% endfor %}

<form method="post">
    {% csrf_token %}
<!--    {{ form.as_p }}-->
    {% for f in form %}
    <p><label class="form-label" style="margin-bottom:0.2%;margin-right:3%" for="{{ f.id_for_label }}" >{{f.label}}:</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit">Отправить деталь</button>
</form>



<!--    <div>-->
<!--      <label for="exampleInputEmail1" class="form-label mt-4">Email пользователя</label>-->
<!--      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите email">-->
<!--      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--    </div>-->
<!--    <div>-->
<!--      <label for="exampleInputEmail1" class="form-label mt-4">Название детали:</label>-->
<!--      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите название детали">-->
<!--    </div>-->

<!--&lt;!&ndash;    <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;      <label for="staticEmail" class="col-sm-2 col-form-label" >Email</label>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="col-sm-10">&ndash;&gt;-->
<!--&lt;!&ndash;        <input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="email@example.com">&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--    <div>-->
<!--      <label for="exampleInputEmail1" class="form-label mt-4">a2v-номер детали:</label>-->
<!--      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите a2v-номер детали">-->
<!--      <small id="emailHelp" class="form-text text-muted">Укажите id-детали состоящий из цифр и латинских букв(A-Z)</small>-->
<!--    </div>-->

<!--    <div>-->
<!--      <label for="exampleSelect1" class="form-label mt-4">Проект детали:</label>-->
<!--      <select class="form-select" id="exampleSelect1">-->
<!--        <option>Ласточка</option>-->
<!--        <option>Сапсан</option>-->
<!--        <option>Депо</option>-->
<!--        <option>Пробная печать</option>-->
<!--      </select>-->
<!--      <small id="emailHelp" class="form-text text-muted">Укажите проект к которому относится деталь или поле 'Пробная печать'</small>-->
<!--    </div>-->

<!--    <div>-->
<!--      <label for="exampleTextarea" class="form-label mt-4">Введите описание детали:</label>-->
<!--      <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>-->
<!--    </div>-->

<!--    <div>-->
<!--      <label for="formFile" class="form-label mt-4">Выберете главное изображение детали:</label>-->
<!--      <input class="form-control" type="file" id="formFile">-->
<!--    </div>-->

<!--    <div>-->
<!--      <label for="formFile" class="form-label mt-4">Выберете второе изображение изображение:</label>-->
<!--      <input class="form-control" type="file" id="formFile">-->
<!--    </div>-->

<!--    <div>-->
<!--      <label for="formFile" class="form-label mt-4">Выберете третье изображение изображение:</label>-->
<!--      <input class="form-control" type="file" id="formFile">-->
<!--    </div>-->

<!--    <div>-->
<!--      <label for="formFile" class="form-label mt-4">Выберете четвертое изображение изображение:</label>-->
<!--      <input class="form-control" type="file" id="formFile">-->
<!--    </div>-->

<!--    <div>-->
<!--      <label for="formFile" class="form-label mt-4">Выберете файл модели:</label>-->
<!--      <input class="form-control" type="file" id="formFile">-->
<!--    </div>-->

<!--    <hr>-->
<!--    <button type="submit" class="btn btn-primary">Отправить</button>-->
  </fieldset>

</form>
    </div>
</body>
</html>